<h1>Your Title Here</h1>
<h2>Your punch line here</h2>
<p>
	Other stuff you want to talk about.
	<b>This sentence is important</b>
</p>
<label>Name:</label>
<input id="name" type="text" placeholder="Write your name please" />
<button onclick="document.getElementById('span').innerHTML = document.getElementById('name').value; document.getElementById('answer').style.display = '';">Click here</button>
<p id="answer" style="display:none;">Hello <span id="span" data-bablic-exclude></span></p>
