<!DOCTYPE html>
<html>
<head>
  <title>Your Title Here</title>
  
</head>
<body>
	<%= ENV['BABLIC_SNIPPET'] %>
 
    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <p>For more advanced options see <a href="http://www.bablic.com/docs">our docs</a></p>
    </footer>

</body>
</html>